<div class="container">
  <br>
  <div class="form-group">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
  </div>
  <table class="table" >
    <tr class="table-title">
      <td>Student</td>
      <td>Course</td>
      <td>Start date</td>
      <td>End date</td>
      <td>Fee</td>
    </tr>
    <tr *ngFor="let e of enrollments | filter:searchText | paginate: config">
      <td>{{e.student.name}}</td>
      <td>{{e.course.name}}</td>
      <td>{{e.startDate | date:'medium' }}</td>
      <td>{{e.endDate | date:'medium'}}</td>
      <td>{{e.fee}}</td>
      <td><a class="btn btn-outline-info" routerLink="/enrollments/detail/{{e.id}}">Edit</a></td>
      <td><button class="btn btn-outline-danger" (click)="delete(e)">Delete</button></td>
    </tr>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  <br>
  <a class="btn btn-outline-secondary" routerLink="/enrollments/add">Add enrollment</a>
</div>
