<div class="container">
  <table class="table">
    <tr class="table-title">
      <td>Student ID</td>
      <td>Name</td>
      <td>Age</td>
      <td>Gender</td>
    </tr>
    <tr *ngFor="let s of students">
      <td>{{s.id}}</td>
      <td>{{s.name}}</td>
      <td>{{s.age}}</td>
      <td>{{s.gender | titlecase}}</td>


      <td><a class="btn btn-outline-warning" routerLink="/students/view/{{s.id}}">View</a></td>
      <td><a class="btn btn-outline-info" routerLink="/students/detail/{{s.id}}">Edit</a></td>
      <td><button class="btn btn-outline-danger" (click)="delete(s)">Delete</button></td>
    </tr>
  </table>
  <a class="btn btn-outline-secondary" routerLink="/students/add">Add student</a>
</div>

