<div *ngIf="student">

  <div class="card">
    <div class="card-body">
      <div>
        <div class="form-group">
          <label class="col-md-4">Name</label>
          <input class="form-control" [(ngModel)]="student.name">
        </div>
        <div class="form-group">
          <label class="col-md-4">Age </label>
          <input class="form-control" [(ngModel)]="student.age">
        </div>
        <div class="form-group">
          <label class="col-md-4">Gender</label>
          <input class="form-control" [(ngModel)]="student.gender">
        </div>
        <div class="form-group">
          <button class="btn btn-outline-success" (click)="save()">Save</button>
          <button class="btn btn-outline-primary" (click)="goBack()">Go back</button>
        </div>
      </div>
    </div>
  </div>

</div>
